@using DataTypes
@using WebAPIClient.APICalls
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AgentStatus</title>
</head>
<body>
    <div> 
        @{
            if (Request.Url.AbsoluteUri.Contains('?'))
            {
                string agentName = Request.Url.AbsoluteUri.Split('?')[1];
                Agent agent = AgentAPI.GetAgent(agentName);
                <h3>@Html.Raw(agent.Name)</h3>
            }
            else
            {
                <h3>No Agent Selected</h3>
            }
        }
    </div>
    <div>
        <h3 id="status">Connecting...</h3>
    </div>
    <div>
        <h3 id="job"></h3>
    </div>
    <table>
        <tr>
            <td id="cpucell">Waiting for data...</td>
        </tr>
        <tr>
            <td id="ramcell">Waiting for data...</td>
        </tr>
        <tr>
            <td id="diskcell"></td>
        </tr>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            getData(window.location.href);
        });

        function getData(data) {
            mach = data.split('?')[1];
            $.getJSON('http://10.0.0.205/api/agent/getagent/' + mach, function (d) {
                var obj = JSON.parse(d);
                startR(obj.IP);
            });
        }

        function startR(data) {
            var connection = $.hubConnection("http://" + data);
            var hub = connection.createHubProxy("AgentStatusHub");
            hub.on("updateJob", Message);
            hub.on("updateHardware", Hardware);
            connection.start({ jsonp: true })
                .done(function () {
                    $("#status")[0].innerHTML = "Connected";
                })
                .fail(function () {
                    $("#status")[0].innerHTML = "Unable to Connect";
                });
            connection.disconnected(function () {
                setTimeout(function () {
                    $("#status")[0].innerHTML = "Attempting to Connect...";
                    connection.start({ jsonp: true })
                        .done(function () {
                            $("#status")[0].innerHTML = "Connected";
                        })
                        .fail(function () {
                            $("#status")[0].innerHTML = "Unable to Connect";
                        });
                }, 5000);
            });
        }

        function Message(mess) {
            $("#job")[0].innerHTML = mess;
        }

        function Hardware(info) {
            $("#ramcell")[0].innerHTML = info.split('$')[1];
            $("#cpucell")[0].innerHTML = info.split('&')[1];
        }
    </script>
</body>
</html>
