@{
    ViewBag.Title = "Home Page";
}
@section scripts{
@Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/Scripts/jquery.signalR-2.1.2.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/MainScript1.0.2.js")
}

<html>
<body>
    <h1>Machines</h1>
    <div id="infoTable">
        <table border="1">
            <thead>
                <tr><th>ID</th><th>Name</th><th>Status</th></tr>
            </thead>
            <tbody>
                <tr class="loading"><td colspan="2">loading...</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>