@{
    ViewBag.Title = "Home Page";
}
@section scripts{

@Scripts.Render("~/Scripts/MainScript1.0.4.js")
}

<style>
    table {
        width: 100%;
    }
    td {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }
    th {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }
</style>

<html>
<body>
    <h1>Machines</h1>
    <div id="infoTable">
        <table border="1">
            <thead>
                <tr><th width="10%">ID</th><th width="40%">Name</th><th width="40%">Status</th><th width="10%">View</th></tr>
            </thead>
            <tbody>
                <tr class="loading"><td colspan="2">loading...</td><td></td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $(document).on('click', '.view', function () {
            var mach = $(this).closest('tr')[0].cells[1].innerHTML;
            window.location.href = "http://10.0.0.238/Home/AgentStatus?" + mach;
        });
    </script>
</body>
</html>